.filter-container {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.article-list-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}
