# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
pc/build
pc/node_modules
pc/server/uploads
mobile/node_modules

# misc
pc/.DS_Store
pc/.env.local
pc/.env.development.local
pc/.env.test.local
pc/.env.production.local

pc/npm-debug.log*
pc/yarn-debug.log*
pc/yarn-error.log*

# Windows
mobile/[Dd]esktop.ini
mobile/Thumbs.db
mobile/$RECYCLE.BIN/

# macOS
mobile/.DS_Store
mobile/.fseventsd
mobile/.Spotlight-V100
mobile/.TemporaryItems
mobile/.Trashes

# Node.js
mobile/node_modules/
