.audit-card {
  .audit-card-content {
    display: flex;
    gap: 16px;

    .audit-card-thumbnail {
      width: 80px;
      height: 80px;
      background-color: #ccc;
    }

    .audit-card-details {
      flex: 1;

      h3 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }

    .audit-card-actions {
      text-align: right;

      .audit-card-action-buttons {
        margin-top: 8px;
      }
    }
  }
}
