.search-page {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0 30rpx;
  
    .search-input {
      padding: 16rpx 0;
    }
  
    .t-class__input-container {
      border-radius: 999rpx;
    }
  
    .t-search__input {
      font-size: 28rpx;
      color: #333;
    }
  
    .search-wrap {
      margin-top: 24rpx;
    }
  
    .history-wrap {
      margin-bottom: 20px;
    }
  
    .search-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  
    .search-title {
      font-size: 30rpx;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
      line-height: 42rpx;
    }
  
    .search-clear {
      font-size: 30rpx;
      font-family: PingFang SC;
      line-height: 32rpx;
      color: #999999;
      font-weight: bold;
    }
  
    .search-content {
      overflow: hidden;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 24rpx;
    }
  
    .search-item {
      color: #333333;
      font-size: 24rpx;
      line-height: 32rpx;
      font-weight: 400;
      margin-right: 24rpx;
      margin-bottom: 24rpx;
      border-radius: 3rpx;
  
      &.popular-item {
        background: #f3f3f3;
      }
  
      &.history-item {
        background: #e7e7e7;
      }
    }
  
    .hover-history-item {
      position: relative;
      top: 3rpx;
      left: 3rpx;
    }
    .add-notes__confirm {
      color: #fa4126;
    }
  
    .popular-wrap {
      margin-top: 32rpx;
    }
  }