.login {
  width: 100vw;
  height: 100vh;
  background-color: #edf0f5;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container {
    width: 400px;
    border: 1px solid #fff;
    padding-top: 20px;
    h2 {
      text-align: center;
    }
  }
}
