@import '/variable.less';

.home-card {
  display: inline-flex;
  flex-direction: column;
  width: 340rpx;
  height: 550rpx;
  border-radius: 9px;
  background: @bg-color-white;

  &__image {
    width: 340rpx;
    height: 400rpx;
  }

  &__info {
    padding: 16rpx;
    font-weight: 400;
    font-size: @font-size-small;
  }

  &__user-info{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; 
    overflow: hidden;
  }
  &__nickname{
    font-size: 14px;
  }
}
