.register-container {
  padding: 40rpx 64rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-height: 100vh;
}

.avatar-section {
  margin-bottom: 60rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 160rpx;
  height: 160rpx;
  border-radius: 50%;
  margin-bottom: 20rpx;
  border: 2rpx solid #e5e5e5;
}

.upload-btn {
  color: #0052d9;
  font-size: 28rpx;
}

.input-section {
  width: 100%;
  margin-bottom: 60rpx;
}

.input-item {
  margin-bottom: 30rpx;
  padding: 20rpx 16rpx;
}

.input-item input {
  font-size: 32rpx;
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
}

.btn-section {
    margin: 0 !important;
    min-width: 200rpx;
}

.register-btn {
  width: 100%;
  height: 88rpx;
  line-height: 88rpx;
  background: #0052d9;
  color: #fff;
  border-radius: 8rpx;
  font-size: 32rpx;
  text-align: center;
  letter-spacing: 4rpx;
  font-weight: 500;
}

.register-btn:active {
  opacity: 0.8;
} 